<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>REST API viewpoint</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>REST API viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ec936997e732423aab7892a80dbe1aed.png" alt="REST API viewpoint" usemap="#id-ec936997e732423aab7892a80dbe1aedmap"/>
			   <map name="id-ec936997e732423aab7892a80dbe1aedmap">
				  		<area shape="rect" coords="1174,898,1559,1070" href="../elements/id-695b3760d597460b96d6d1d56a99365b.html"  target="element">
				  				<area shape="rect" coords="430,46,2411,101" href="../elements/id-0c2b5682.html"  target="element">

				          <area shape="rect" coords="406,10,2440,130" href="../objects/id-7742587803404ac8a88bfbc82815d9b4.html" target="element" >
				  		<area shape="rect" coords="226,382,371,455" href="../elements/id-cb42c6edc41e45fcb03ba96ad2ee6fec.html"  target="element">
				  		<area shape="rect" coords="226,274,371,347" href="../elements/id-a6893244aac34946a14f379351d4fb39.html"  target="element">
				  						<area shape="rect" coords="442,285,618,382" href="../elements/id-ebc1414e355741bcb730841d9e3c553b.html"  target="element">

				  				<area shape="rect" coords="418,201,630,802" href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html"  target="element">
				  								<area shape="rect" coords="725,586,882,646" href="../elements/id-2f9e382cda7f4fc6bf97172339c59d97.html"  target="element">
				  								<area shape="rect" coords="725,430,882,490" href="../elements/id-86b9600871154fdb90459a713238cc7d.html"  target="element">
				  								<area shape="rect" coords="725,310,882,370" href="../elements/id-8f922822ba64403f9648b4c444bf4363.html"  target="element">

				  						<area shape="rect" coords="713,262,893,707" href="../elements/id-f2cdec82cf114ea4a514be9de204e908.html"  target="element">

				  				<area shape="rect" coords="689,202,906,802" href="../elements/id-606d0153cf85464d994beea17d08990d.html"  target="element">

				          <area shape="rect" coords="406,154,923,826" href="../objects/id-190f2533bd424e2a918206711db095f0.html" target="element" >
				  				<area shape="rect" coords="2182,538,2422,642" href="../elements/id-354a04c65718439995b6f09f173af9f6.html"  target="element">
				  				<area shape="rect" coords="2182,286,2422,390" href="../elements/id-4a50086f.html"  target="element">

				          <area shape="rect" coords="2158,154,2440,826" href="../objects/id-c5d1a748327b4bae92910f9bccbce5b7.html" target="element" >
				  				<area shape="rect" coords="1771,382,2024,486" href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html"  target="element">

				          <area shape="rect" coords="1738,154,2050,826" href="../objects/id-4ce9b69cd2774d7c8e018fc4f0fd61c0.html" target="element" >
				  				<area shape="rect" coords="1330,490,1582,587" href="../elements/id-2d681b0d.html"  target="element">
				  				<area shape="rect" coords="1330,238,1582,335" href="../elements/id-fa5d9d67.html"  target="element">

				          <area shape="rect" coords="1318,154,1594,826" href="../objects/id-3f620aec1baf4f70936491dc5f090f3d.html" target="element" >
				  						<area shape="rect" coords="1006,262,1186,707" href="../elements/id-5cc1f0dc.html"  target="element">

				  				<area shape="rect" coords="982,202,1199,802" href="../elements/id-34751b6d02054b67ac33884feb456a21.html"  target="element">

				          <area shape="rect" coords="970,154,1223,826" href="../objects/id-5524d35174924bc2a0102617e5f181f1.html" target="element" >
				  				<area shape="rect" coords="34,190,172,802" href="../elements/id-9d3048f2997445adb76c03991f0cb574.html"  target="element">

				          <area shape="rect" coords="10,154,202,826" href="../objects/id-de52ba69b6e147f7a5224cf497e8009f.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The EIRA&#169; API viewpoint models an introductory overview of the focal Architecture Building Blocks required when modelling an API Interface. 
The ABBs included in the API viewpoint represent all the required Building Block necessary to design an API Interface accessible thoruh a web interface. 

Narrative: 
A [Client request for service] is made trough [Internet] and it triggers the [Authentication Service] which serves the [Request Validation Service]that triggers the [HTTP(s) Load Balancer] whichin turn triggers all the [Endpoints] related. Each [Endpoint] serves the [Application Service] which triggers the [App Component] that, in turn, triggers the [Data Access Service]. The [Data Access Service] provides access to the [Data Space] which is composed by the [SQL Data Space], [Read - Replica], [NoSQL Data Space] and [Virtual Data Space]. In the moment in which the [Endpoint] is triggered data flows to the [API Response] which is composed by [Data] and [Represenation] accessed by a [Request Validation Service]. The [API Response] triggers the response that is provided to the user who requetd the data in the first instance.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-de52ba69b6e147f7a5224cf497e8009f.html" target="element"> Communication </a> </td>
									           <td> <a href="../objects/id-de52ba69b6e147f7a5224cf497e8009f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9d3048f2997445adb76c03991f0cb574.html" target="element"> Public Network </a> </td>
													    <td> <a href="../elements/id-9d3048f2997445adb76c03991f0cb574.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-5524d35174924bc2a0102617e5f181f1.html" target="element"> Authentication (Security Enablers) </a> </td>
									           <td> <a href="../objects/id-5524d35174924bc2a0102617e5f181f1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element"> Authentication Middleware </a> </td>
													    <td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication </a> </td>
															    <td> <a href="../elements/id-5cc1f0dc.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-3f620aec1baf4f70936491dc5f090f3d.html" target="element"> Application Presentation Enablers </a> </td>
									           <td> <a href="../objects/id-3f620aec1baf4f70936491dc5f090f3d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-fa5d9d67.html" target="element"> Human Interface </a> </td>
													    <td> <a href="../elements/id-fa5d9d67.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2d681b0d.html" target="element"> Machine to Machine Interface </a> </td>
													    <td> <a href="../elements/id-2d681b0d.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-4ce9b69cd2774d7c8e018fc4f0fd61c0.html" target="element"> Digital Public Services </a> </td>
									           <td> <a href="../objects/id-4ce9b69cd2774d7c8e018fc4f0fd61c0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html" target="element"> Digital Solution </a> </td>
													    <td> <a href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-c5d1a748327b4bae92910f9bccbce5b7.html" target="element"> Data Services </a> </td>
									           <td> <a href="../objects/id-c5d1a748327b4bae92910f9bccbce5b7.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-4a50086f.html" target="element"> e-Archiving </a> </td>
													    <td> <a href="../elements/id-4a50086f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-354a04c65718439995b6f09f173af9f6.html" target="element"> Data Management </a> </td>
													    <td> <a href="../elements/id-354a04c65718439995b6f09f173af9f6.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-190f2533bd424e2a918206711db095f0.html" target="element"> Fault Tolerance &amp; High Availability </a> </td>
									           <td> <a href="../objects/id-190f2533bd424e2a918206711db095f0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-606d0153cf85464d994beea17d08990d.html" target="element"> API Management Middleware </a> </td>
													    <td> <a href="../elements/id-606d0153cf85464d994beea17d08990d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-f2cdec82cf114ea4a514be9de204e908.html" target="element"> API Manager Service </a> </td>
															    <td> <a href="../elements/id-f2cdec82cf114ea4a514be9de204e908.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-8f922822ba64403f9648b4c444bf4363.html" target="element"> API Routing </a> </td>
																	    <td> <a href="../elements/id-8f922822ba64403f9648b4c444bf4363.html" target="element" class="i18n-elementtype-ApplicationFunction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-86b9600871154fdb90459a713238cc7d.html" target="element"> Request Transformer and Validation </a> </td>
																	    <td> <a href="../elements/id-86b9600871154fdb90459a713238cc7d.html" target="element" class="i18n-elementtype-ApplicationFunction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-2f9e382cda7f4fc6bf97172339c59d97.html" target="element"> Response Transformer and Validation </a> </td>
																	    <td> <a href="../elements/id-2f9e382cda7f4fc6bf97172339c59d97.html" target="element" class="i18n-elementtype-ApplicationFunction">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTPS Load Balancer </a> </td>
													    <td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ebc1414e355741bcb730841d9e3c553b.html" target="element"> Firewall Service </a> </td>
															    <td> <a href="../elements/id-ebc1414e355741bcb730841d9e3c553b.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-a6893244aac34946a14f379351d4fb39.html" target="element"> Human request for service </a> </td>
											    <td> <a href="../elements/id-a6893244aac34946a14f379351d4fb39.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb42c6edc41e45fcb03ba96ad2ee6fec.html" target="element"> Machine request for service </a> </td>
											    <td> <a href="../elements/id-cb42c6edc41e45fcb03ba96ad2ee6fec.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-7742587803404ac8a88bfbc82815d9b4.html" target="element"> Accounting (Security Enablers) </a> </td>
									           <td> <a href="../objects/id-7742587803404ac8a88bfbc82815d9b4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0c2b5682.html" target="element"> Audit </a> </td>
													    <td> <a href="../elements/id-0c2b5682.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-695b3760d597460b96d6d1d56a99365b.html" target="element"> API Response </a> </td>
											    <td> <a href="../elements/id-695b3760d597460b96d6d1d56a99365b.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-2dddcdcb5c924e719061a7a75fe80ab1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2dddcdcb5c924e719061a7a75fe80ab1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9d3048f2997445adb76c03991f0cb574.html" target="element"> Public Network </a> </td>
																				<td> <a href="../elements/id-a6893244aac34946a14f379351d4fb39.html" target="element"> Human request for service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f2bec51818bc4866b39fd0bea160272b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2bec51818bc4866b39fd0bea160272b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9d3048f2997445adb76c03991f0cb574.html" target="element"> Public Network </a> </td>
																				<td> <a href="../elements/id-cb42c6edc41e45fcb03ba96ad2ee6fec.html" target="element"> Machine request for service </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-3d533c9d07e04624b4b0460f44c31449.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3d533c9d07e04624b4b0460f44c31449.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element"> Authentication Middleware </a> </td>
																				<td> <a href="../elements/id-0c2b5682.html" target="element"> Audit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-773e8de58505425ab3c75a11e937680a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-773e8de58505425ab3c75a11e937680a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-34751b6d02054b67ac33884feb456a21.html" target="element"> Authentication Middleware </a> </td>
																				<td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-2f695b8822a542da827a017970c0914d.html" target="element"> machine request </a> </td>
																						<td> <a href="../elements/id-2f695b8822a542da827a017970c0914d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication </a> </td>
																						<td> <a href="../elements/id-2d681b0d.html" target="element"> Machine to Machine Interface </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-e71fcc2f619c4ca0a030282ec3ec1f12.html" target="element"> human request </a> </td>
																						<td> <a href="../elements/id-e71fcc2f619c4ca0a030282ec3ec1f12.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication </a> </td>
																						<td> <a href="../elements/id-fa5d9d67.html" target="element"> Human Interface </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-b4431078.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b4431078.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fa5d9d67.html" target="element"> Human Interface </a> </td>
																				<td> <a href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html" target="element"> Digital Solution </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d0689c69.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d0689c69.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2d681b0d.html" target="element"> Machine to Machine Interface </a> </td>
																				<td> <a href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html" target="element"> Digital Solution </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-5a1966dc806a43dcabe724ba7f146e13.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a1966dc806a43dcabe724ba7f146e13.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html" target="element"> Digital Solution </a> </td>
																				<td> <a href="../elements/id-0c2b5682.html" target="element"> Audit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aef3c0b2d6104ceba2e74ca67ccccbea.html" target="element"> response </a> </td>
																				<td> <a href="../elements/id-aef3c0b2d6104ceba2e74ca67ccccbea.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html" target="element"> Digital Solution </a> </td>
																				<td> <a href="../elements/id-2f9e382cda7f4fc6bf97172339c59d97.html" target="element"> Response Transformer and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-52aab90c4dc941b7be01322b0528975f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-52aab90c4dc941b7be01322b0528975f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html" target="element"> Digital Solution </a> </td>
																				<td> <a href="../elements/id-354a04c65718439995b6f09f173af9f6.html" target="element"> Data Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-88631040613a47b7ac18a797043f355e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-88631040613a47b7ac18a797043f355e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-1b46fd9aad2947d588200f2a25cd5322.html" target="element"> Digital Solution </a> </td>
																				<td> <a href="../elements/id-695b3760d597460b96d6d1d56a99365b.html" target="element"> API Response </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-4d6d342b90584049b313db00dc24be21.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4d6d342b90584049b313db00dc24be21.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a50086f.html" target="element"> e-Archiving </a> </td>
																				<td> <a href="../elements/id-0c2b5682.html" target="element"> Audit </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9066085f31624126897ef8ed0a0d1f86.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9066085f31624126897ef8ed0a0d1f86.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-354a04c65718439995b6f09f173af9f6.html" target="element"> Data Management </a> </td>
																				<td> <a href="../elements/id-4a50086f.html" target="element"> e-Archiving </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-a6f8994e25d44bc0ad8183d12d01f3fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a6f8994e25d44bc0ad8183d12d01f3fa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-606d0153cf85464d994beea17d08990d.html" target="element"> API Management Middleware </a> </td>
																				<td> <a href="../elements/id-f2cdec82cf114ea4a514be9de204e908.html" target="element"> API Manager Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aa8edc93805540ccb8cce5de3a7a894d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa8edc93805540ccb8cce5de3a7a894d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-606d0153cf85464d994beea17d08990d.html" target="element"> API Management Middleware </a> </td>
																				<td> <a href="../elements/id-0c2b5682.html" target="element"> Audit </a> </td>
																			</tr>

																							<tr>
																								<td> <a href="../elements/id-bfa0cc0a21694292b1b3fde9473c5a3f.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-bfa0cc0a21694292b1b3fde9473c5a3f.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-8f922822ba64403f9648b4c444bf4363.html" target="element"> API Routing </a> </td>
																								<td> <a href="../elements/id-86b9600871154fdb90459a713238cc7d.html" target="element"> Request Transformer and Validation </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/id-7aa2e787e21645bf8952a72d66599f05.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-7aa2e787e21645bf8952a72d66599f05.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-86b9600871154fdb90459a713238cc7d.html" target="element"> Request Transformer and Validation </a> </td>
																								<td> <a href="../elements/id-5cc1f0dc.html" target="element"> Authentication </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/id-b441545b835641bb9b257b67f16e673a.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-b441545b835641bb9b257b67f16e673a.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-2f9e382cda7f4fc6bf97172339c59d97.html" target="element"> Response Transformer and Validation </a> </td>
																								<td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTPS Load Balancer </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-e3517d2fd4f04fa9ad593d1288a8d6fb.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-e3517d2fd4f04fa9ad593d1288a8d6fb.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-2f9e382cda7f4fc6bf97172339c59d97.html" target="element"> Response Transformer and Validation </a> </td>
																								<td> <a href="../elements/id-695b3760d597460b96d6d1d56a99365b.html" target="element"> API Response </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/id-d7e055bd820c461cbce6f5ad16ded62f.html" target="element"> human request </a> </td>
																				<td> <a href="../elements/id-d7e055bd820c461cbce6f5ad16ded62f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTPS Load Balancer </a> </td>
																				<td> <a href="../elements/id-8f922822ba64403f9648b4c444bf4363.html" target="element"> API Routing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-059df24e03b54005b3951b3923709a0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-059df24e03b54005b3951b3923709a0e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTPS Load Balancer </a> </td>
																				<td> <a href="../elements/id-ebc1414e355741bcb730841d9e3c553b.html" target="element"> Firewall Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4ffd66564b2f4e02b904ff9ce7f17686.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ffd66564b2f4e02b904ff9ce7f17686.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTPS Load Balancer </a> </td>
																				<td> <a href="../elements/id-0c2b5682.html" target="element"> Audit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d411bb5013774ecdaa461708f999ec8a.html" target="element"> response </a> </td>
																				<td> <a href="../elements/id-d411bb5013774ecdaa461708f999ec8a.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-33f3cb6f3ea645478492d24f26b557ed.html" target="element"> HTTPS Load Balancer </a> </td>
																				<td> <a href="../elements/id-9d3048f2997445adb76c03991f0cb574.html" target="element"> Public Network </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-df97b0cdbc434770bed31fee68b620cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df97b0cdbc434770bed31fee68b620cf.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a6893244aac34946a14f379351d4fb39.html" target="element"> Human request for service </a> </td>
																		<td> <a href="../elements/id-ebc1414e355741bcb730841d9e3c553b.html" target="element"> Firewall Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-efa208c07c8b490ca8afcb6492650d41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efa208c07c8b490ca8afcb6492650d41.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cb42c6edc41e45fcb03ba96ad2ee6fec.html" target="element"> Machine request for service </a> </td>
																		<td> <a href="../elements/id-ebc1414e355741bcb730841d9e3c553b.html" target="element"> Firewall Service </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>